
#cart-row {
    display: flex;
    justify-content: center;
}

.ui.items {
    margin-left: 1em;
    margin-right: 1em;
}

#total-price {
    margin: 2em;
}

.description {
    display: flex;
    flex-direction: column;
}